<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzu.paper.dao.RecodeMapper">
  <resultMap id="BaseResultMap" type="com.hzu.paper.entity.Recode">
    <constructor>
      <idArg column="YHID" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="visit_date" javaType="java.util.Date" jdbcType="DATE" />
      <arg column="visit_times" javaType="java.util.Date" jdbcType="DATE" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    YHID, visit_date, visit_times
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from 访问记录表
    where YHID = #{yhid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from 访问记录表
    where YHID = #{yhid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hzu.paper.entity.Recode">
    insert into 访问记录表 (YHID, visit_date, visit_times
      )
    values (#{yhid,jdbcType=VARCHAR}, #{visitDate,jdbcType=DATE}, #{visitTimes,jdbcType=DATE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hzu.paper.entity.Recode">
    insert into 访问记录表
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="yhid != null">
        YHID,
      </if>
      <if test="visitDate != null">
        visit_date,
      </if>
      <if test="visitTimes != null">
        visit_times,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="yhid != null">
        #{yhid,jdbcType=VARCHAR},
      </if>
      <if test="visitDate != null">
        #{visitDate,jdbcType=DATE},
      </if>
      <if test="visitTimes != null">
        #{visitTimes,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hzu.paper.entity.Recode">
    update 访问记录表
    <set>
      <if test="visitDate != null">
        visit_date = #{visitDate,jdbcType=DATE},
      </if>
      <if test="visitTimes != null">
        visit_times = #{visitTimes,jdbcType=DATE},
      </if>
    </set>
    where YHID = #{yhid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hzu.paper.entity.Recode">
    update 访问记录表
    set visit_date = #{visitDate,jdbcType=DATE},
      visit_times = #{visitTimes,jdbcType=DATE}
    where YHID = #{yhid,jdbcType=VARCHAR}
  </update>
</mapper>